.container {
    display: flex;
    gap: 100px;
}

.imgContainer {
    flex: 1;
    position: relative;
    width: 100%;
    min-height: 500px;
}

.img {
    object-fit: contain;
}

.formContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.formContainer input {
    background-color: var(--bgSoft);
    border-radius: 5px;
    padding: 20px;
    border: none;
    outline: none;
}

.formContainer textarea {
    background-color: var(--bgSoft);
    border-radius: 5px;
    padding: 20px;
    border: none;
    outline: none;
}

.formContainer button {
    background-color: var(--btn);
    color: var(--text);
    border-radius: 5px;
    font-weight: 700;
    padding: 20px;
    border: none;
    cursor: pointer;
}

@media(max-width: 1024px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .formContainer {
        width: 80%;
    }
}